USER=  
ORACLE_PWD=
ORACLE_HOSTNAME=
PORT_DB=
SERVICE_NAME=
CONTAINER_DB_NAME=

CONTAINER_API=
PORT_API=

CONTAINER_STREAMLIT=
PORT_STREAMLIT=

MODEL_PATH=
MODEL_PATH_LOCAL=
API_URL=
API_URL_INTERNAL=

ANALYTICS_DB_USER=
ANALYTICS_DB_PWD=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=
OPENROUTER_VISION_MODEL=